.main {
  background-image: url(../../../../assets/emilio-garcia-AWdCgDDedH0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.main2 {
  &-card {
    margin-top: 7rem;
    width: 50rem;
    min-height: 40rem;
    background-color: #f2ff00ce;
    box-shadow: none;
    border-radius: 0 8rem 0 8rem;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.02);
    }
    &__content {
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
    }
  }
}

.submit-button {
  width: 15rem;
}
