<!-- <div
  class="main2"
  fxLayout="row wrap"
  fxLayoutAlign="space-evenly center"
  *ngIf="episodesData$ | async as episodesDatas"
>
  <ng-container *ngFor="let episode of episodesDatas">
    <app-episode-content [episode]="episode"></app-episode-content>
  </ng-container>
</div> -->
<div class="main" fxLayoutAlign="center center">
  <ag-grid-angular
    class="ag-theme-alpine myGrid"
    [rowData]="episodesData$ | async"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
