<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="2rem"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >HOME
      </mat-list-item>
      <ng-container *ngIf="auth.userProfile$ | async as profile">
        <mat-list-item
          role="listitem"
          *ngIf="profile.email == 'sorosh.bayanati@gmail.com'"
          fxLayoutAlign="center center"
          routerLink="/episodes/addepisodes"
          (click)="sidenav.close()"
          class="matlist"
          >ADD EPISODE
        </mat-list-item>
      </ng-container>
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/episodes/loadepisodes"
        (click)="sidenav.close()"
        class="matlist"
        >EPISODES
      </mat-list-item>
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        (click)="sidenav.close()"
        class="matlist"
        *ngIf="!auth.loggedIn"
      >
        <a class="auth" (click)="auth.login()" fxLayoutAlign="center center"
          >LOGIN
        </a>
      </mat-list-item>

      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        (click)="sidenav.close()"
        class="matlist"
        *ngIf="auth.loggedIn"
      >
        <a class="auth" (click)="auth.logout()" fxLayoutAlign="center center"
          >LOG OUT
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="res" color="primary">
      <button
        fxFlex.lt-md
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        fxLayoutAlign="start center"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav" fxHide.lt-md fxFlex>
        <ul class="nav-list" fxLayout="row" fxLayoutGap="3rem">
          <li class="nav-list__item">
            <a
              routerLink="/home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >HOME<mat-icon class="nav-list__item-icon">home</mat-icon></a
            >
          </li>
          <ng-container *ngIf="auth.userProfile$ | async as profile">
            <li
              class="nav-list__item"
              *ngIf="profile.email == 'sorosh.bayanati@gmail.com'"
            >
              <a
                routerLink="/episodes/addepisodes"
                routerLinkActive="active"
                fxLayoutAlign="center center"
                >ADD EPISODE<mat-icon class="nav-list__item-icon">
                  video_call</mat-icon
                >
              </a>
            </li>
          </ng-container>
          <li class="nav-list__item">
            <a
              routerLink="/episodes/loadepisodes"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >EPISODES<mat-icon class="nav-list__item-icon"
                >video_library</mat-icon
              ></a
            >
          </li>
          <li class="nav-list__item" *ngIf="!auth.loggedIn">
            <a class="auth" (click)="auth.login()" fxLayoutAlign="center center"
              >LOGIN<mat-icon class="nav-list__item-icon">exit_to_app</mat-icon>
            </a>
          </li>

          <li class="nav-list__item" *ngIf="auth.loggedIn">
            <a
              class="auth"
              (click)="auth.logout()"
              fxLayoutAlign="center center"
              >LOG OUT<mat-icon class="nav-list__item-icon"
                >emoji_people</mat-icon
              >
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
