<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="2rem"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >Home
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="res" color="primary">
      <button
        fxFlex.lt-md
        (click)="sidenav.toggle()"
        mat-icon-button
        class="example-icon"
        fxLayoutAlign="start center"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="nav" fxHide.lt-md fxFlex>
        <ul class="nav-list" fxLayout="row" fxLayoutGap="3rem">
          <li class="nav-list__item">
            <a
              routerLink="/home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >Home<mat-icon class="nav-list__item-icon">home</mat-icon></a
            >
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
