<div class="main" fxLayout="column">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <h1 class="mat-display-4 heading-primary" fxLayoutAlign="center center">
      <span>it's good to have goals</span>
    </h1>

    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/soccer_podcast/channel/?hl=en"
        class="main-btn main-btn-white"
        >follow us &rarr;</a
      >
    </div>
  </div>

  <div fxLayoutAlign="center end" fxHide.lt-md>
    <mat-card class="card" fxFlexAlign="start">
      <mat-card-header>
        <mat-card-title>About us</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          We have conversations in Farsi and English<br />
          with football(soccer) fans around the world
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Coming Soon...</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Stay tuned for some exciting news for all you football lovers!!</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
