<div class="main" fxLayout="column">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <h1 class="mat-display-4 heading-primary" fxLayoutAlign="center center">
      <span class="heading-primary-main">it's good to have goals</span>
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/soccer_podcast/channel/?hl=en"
        class="main-btn main-btn-white"
        >follow us &rarr;</a
      >
    </div>
  </div>
  <div fxLayoutAlign="center end">
    <mat-card class="card" fxFlexAlign="start">
      <mat-card-header>
        <mat-card-title>About us</mat-card-title>
      </mat-card-header>

      <mat-card-content class="">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />Beatae
          doloribus quas consequatur earum pariatur rerum asperiores
          provident<br />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
          repellat recusandae tempora quam tempore.<br />
          Suscipit beatae, cum rerum cupiditate rem illo illum assumenda
          mollitia maxime debitis laudantium, iste enim autem.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
