<div class="main" fxLayout="row">
  <div fxLayoutAlign="center center" fxLayout="column" fxFlex>
    <h1 class="mat-display-4 heading-primary" fxLayoutAlign="center center">
      <span class="heading-primary-main">it's good to have goals</span>
    </h1>
    <div class="main-btn-position" fxLayoutAlign="start center">
      <a
        href="https://www.instagram.com/soccer_podcast/channel/?hl=en"
        class="main-btn main-btn-white"
        >follow us &rarr;</a
      >
    </div>
  </div>
</div>
